
.weeks-lived {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 40px;
}

.lived{
  background-color: green;
}

.unlived {
  background-color: grey;
}

.week-highlight {
  background-color: yellow;
}
