.main{
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.split-pane {
  display: flex;
  height: 95vh;
  margin: 0px;
  gap: 0px;
}

.pane {
  overflow: auto;
}

.divider {
  width: 5px;
  cursor: col-resize;
  border: 1px solid white;
}

.hi {
  border: 1px solid yellow;
}
